							/* CSS */

/* colors */
.green {
	background-color: #08EE58;
}
.green-text {
	color: #08EE58;
}
.white {
	background-color: #F5F5F5;
}
.white-text {
	color: #F5F5F5;
}
.purple {
	background-color: #53009A;
}
.purple-text {
	color: #53009A;
}
.violet {
	background-color: #0D0735;
}
.violet-text {
	color: #0D0735;
}
.indigo2 {
	background-color: #8027F3;
}
.indigo-text2 {
	color: #8027F3;
}
.mauvelous {
	background-color: #EF70A7; 
}
.mauvelous-text {
	color: #EF70A7;
}
.pink {
	background-color: #FC4F97;
}
.pink-color {
	color: #FC4F97;
}
.cyan {
	background-color: #39EAFC;
}
.cyan-text {
	color: #39EAFC;
}
.baltic {
	background-color: #26252D;
}
.baltic-text {
	color: #26252D;
	text-align: center;
}
@font-face {
	font-family: Main;
	src: ebold.woff;
}
.mainf {
	font-family: Main;
}
.pluginname {
	display: block;
	border: none;
	text-decoration: none;
	background-color: teal;
	padding-top: 21px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 18px;
	margin-top: 23px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0;
	width: 150px;
	position: relative;
	left: -50;
	text-align: center;
	font-size: 18px;
	color: white;
}
.pluginname:hover {
	content: 'click me';
	
}
	
	
